{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "bracketSameLine": false,
  "endOfLine": "auto",
  "object": "all",
  "object-curly-newline": ["error", { "consistent": true }]
}
