.navBarDropdownMenu {
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 5px 30px 0 rgba(108, 135, 135, 0.5);
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  border-radius: 6px;
}

.dropdownMenu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  transform: translateY(-4px);
  transition: all 0.1s;
}