.card {
  padding: 30px 20px;
  border: 1px solid #d9e9e9;
  border-radius: 5px;
  min-height: 150px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex: 1 1 calc(50% - 0.75rem);

  transform: translateY(0px);
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 0 10px 20px 0 rgba(108, 135, 135, 0.2);
  text-decoration: none;
  top: -3px;
  transform: translateY(-3px);
}

.cardBody {
  display: flex;
  align-items: center;
  min-height: 100%;
  width: 100%;
}

.imageWrapper {
  flex: 1 1;
  padding-right: 20px;
  min-width: 120px;
}

.image {
  width: 100%;
  max-width: 120px;
  height: 120px;
}