.sideMenu {
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #191e1e;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.3s;
}

.itemsContainer {
  padding: 3rem 3.5rem;
}

@media screen and (width <= 950px) {
  .sideMenu.active {
    top: 0;
  }
}
